<div class="center">
    <mat-card class="container mat-elevation-z2">
        <mat-card-title class="max-width">
            <form>
                <mat-form-field class="input-text">
                    <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
                </mat-form-field>
                <mat-form-field class="input-text">
                    <input matInput placeholder="Preço" [(ngModel)]="product.price" name="price">
                </mat-form-field>
            </form>
        </mat-card-title>
        
        <div class="button-alignment">
            <button mat-raised-button (click)="updateProduct()" color="primary">
                Atualizar
            </button>
            
            <button mat-raised-button (click)="cancel()" color="warn">
                Cancelar
            </button>
        </div>
    </mat-card>
</div>
