<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list" >
            <div class="row pointer" routerLink="/">
                <i class="material-icons">home</i>
                <a mat-list-item>Início</a>
            </div>
            <div class="row pointer" routerLink="/products">
                <i class="material-icons">storefront</i>
                <a mat-list-item>Produtos </a>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>