.sidenav{
    background-color: #3f51b5;
    width: 200px;
}

.sidenav a, .sidenav i{
    color: #fff;
}

.sidenav i{
    margin-right: 8px;
}

.content {
    padding: 120px 200px;
}

@media only screen and (max-width: 720px) {
    .sidenav {
        width: 40px;
    }

    .sidenav i{
        margin-left: 12px;
    }

    .nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .item-text{
        display:none;
    }
}

@media only screen and (max-width: 1110px) {
    .content{
        padding: 120px 16px;
    }
}