<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <div class="sidenav-items" routerLink="/">
                <a mat-list-item>
                    <i class="material-icons">home</i>
                    <span class="item-text">Início</span>
                </a>
            </div>
            <div class="sidenav-items" routerLink="/products">
                <a mat-list-item>
                    <i class="material-icons">storefront</i>
                    <span class="item-text">Produtos</span>
                </a>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>