.sidenav{
    background-color: #3f51b5;
    width: 200px;
}

.sidenav a, .sidenav i{
    color: #fff;
}

.content {
    padding: 16px; 
    background-color: #fff;
}

@media only screen and (max-width: 720px) {
    
    .sidenav {
        width: 40px;
    }
    
    .sidenav i{
        margin-top: 24px;
    }
    
    .sidenav a{
        display: none;
    }
}