/* You can add global styles to this file, and also import other style files */

    
html, body { height: 100%;}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #f9f9f9;
}

.red{
    color: rgb(227, 94, 107)
}

.v-middle{
    vertical-align: middle;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.max-width{
    width: 100%;
}

.button-alignment{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container{
    width: 90%;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Retirar setas do type number em inputs */
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}